<table class="table">
    <thead> 
     <th>First Name</th>
     <th>Last Name</th>
     <th>username</th>
     <th>Email</th>
     <th>status</th>
     <th>Actions</th>
   </thead>
    <tbody>
      <tr *ngFor="let role of roles" >
        <td>{{role.firstName}}</td>
        <td>{{role.lastName}}</td>
        <td>{{role.username}}</td>
        <td>{{role.email}}</td>
        <td>{{role.status}}</td>
        <td>
          <button class="btn btn-primary btn-sm">Edit</button>
          <button class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
   </table>